@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Protest+Riot&display=swap');

/* custom propoty */

:root{
    --line--border--fill :rgb(27, 224, 17);
    --line--border--empty : gray;
}



* { 
    box-sizing: border-box;
    font-family: "Protest Riot", sans-serif;
    font-weight: 200;
    font-style: normal;
}

body{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    
}

.progress-container::before{
    content: '';
    background-color: var(--line--border--empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50% );
    height: 4px;
    width: 100%;
    z-index: -1;
}
.progress{
    background-color: var(--line--border--fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50% );
    height: 4px;
    width:  0%;
    z-index: -1;
    transition: 0.04s ease;
}

.circle{
    background-color: #fff;
    color: var(--line--border--empty);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line--border--empty);
    transition: 0.4s ease;

}

.circle.active{
    border-color: var(--line--border--fill);
    box-shadow: 10px 0px 25px var(--line--border--fill) ;

}

.btn{
    background-color: var(--line--border--fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 7px;
    box-shadow: 10px 5px 15px black ;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line--border--empty);
    cursor: not-allowed;
}
#submit{
    opacity: 0;
    background-color: blue;
}
  